.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #a8a8a8, #292929);
  padding: 2rem;
}

.card {
  background: rgb(255, 255, 255);
  padding: 2.5rem;
  border-radius: 16px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  text-align: center;
  animation: fadeIn 0.4s ease-in-out;
}

h1 {
  margin-bottom: 1.5rem;
  color: #363636;
}

button {
  background: #b1a45d;
  color: white;
  border: none;
  padding: 0.7rem 1.4rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom: 1.5rem;
}

button:hover:not(:disabled) {
  background: #80701b;
  transform: translateY(-2px);
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.joke {
  margin-top: 1rem;
}

.setup {
  font-weight: 600;
  margin-bottom: 0.8rem;
  color: #444;
}

.punchline {
  font-style: italic;
  color: #383838;
}

.error {
  color: crimson;
  margin-top: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
  
}
